<%- model_class = Statistic -%>
<div class="page-header">
  <h1>Estadistica</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:juegos) %>:</strong></dt>
  <dd><%= @statistic.juegos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ganados) %>:</strong></dt>
  <dd><%= @statistic.ganados %></dd>
  <dt><strong><%= model_class.human_attribute_name(:perdidos) %>:</strong></dt>
  <dd><%= @statistic.perdidos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:empatados) %>:</strong></dt>
  <dd><%= @statistic.empatados %></dd>
  <dt><strong><%= model_class.human_attribute_name(:goles) %>:</strong></dt>
  <dd><%= @statistic.goles %></dd>
  <dt><strong><%= model_class.human_attribute_name(:puntaje) %>:</strong></dt>
  <dd><%= @statistic.puntaje %></dd>
  <dt><strong><%= model_class.human_attribute_name(:team_id) %>:</strong></dt>
  <dd><%= @statistic.team_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              statistics_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_statistic_path(@statistic), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              statistic_path(@statistic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
