<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :fecha %>
    <%= f.input :hora %>
    <%= f.input :contenido %>
    <%= f.input :foto %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
